<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netikras.studies.studentbuddy.api.client.android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pieces.main.ui.impl.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pieces.login.ui.impl.view.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".pieces.main.ui.impl.view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pieces.main.ui.impl.view.MainActivity" />
        </activity>
        <activity android:name=".pieces.base.list.SimpleListActivity" />
        <activity android:name=".pieces.lecture.ui.impl.view.LectureInfoActivity" />
        <activity android:name=".pieces.discipline.ui.impl.view.DisciplineInfoActivity" />
        <activity android:name=".pieces.location.ui.impl.view.LocationInfoActivity" />
        <activity android:name=".pieces.lecturer.ui.impl.view.LecturerInfoActivity" />
        <activity android:name=".pieces.student.ui.impl.view.StudentInfoActivity" />
        <activity android:name=".pieces.student.ui.impl.view.StudentsGroupInfoActivity" />
        <activity android:name=".pieces.person.ui.impl.view.PersonInfoActivity" />
        <activity android:name=".pieces.person.ui.impl.view.UserInfoActivity" />
        <activity android:name=".pieces.location.ui.impl.view.FloorActivity" />
        <activity android:name=".pieces.SearchActivity" />
        <activity android:name=".pieces.lecture.ui.impl.view.LecturesListActivity" />
        <activity android:name=".pieces.settings.ui.impl.view.SettingsActivity" />
        <activity android:name=".pieces.comments.ui.impl.view.CommentsActivity" />
        <activity android:name=".pieces.lecture.ui.impl.view.AssignmentActivity" />
        <activity android:name=".pieces.lecture.ui.impl.view.TestInfoActivity" />
        <activity android:name=".pieces.school.ui.impl.view.SchoolActivity" />
        <activity android:name=".pieces.location.ui.impl.view.RoomActivity" />
        <activity android:name=".pieces.location.ui.impl.view.LayoutActivity" />
        <!--<activity android:name="" />-->

        <service
            android:name=".service.ApiService"
            android:exported="false" />
        <service
            android:name=".service.ScheduledUpdateService"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <receiver android:enabled="true" android:name=".service.AutoStart"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>